<div
	style='font-family: sans-serif; font-size: 16px; background: #fafafa; line-height: 1.75; padding: 50px'
>
	<div
		style='width: 90%; margin: 0 auto; padding: 25px; background: #ffffff; border-radius: 5px'
	>
		<div style='text-align: center; margin: 0 0 40px 0'>
			<h1 style='text-align: center; color: #000000; line-height: 0'>GARAGE</h1>
			<p style='text-transform: uppercase; font-weight: 700'>Your car expenses
				ally</p>
		</div>
		<h2 style='text-align: center'>Hello!</h2>
		<p>
			We've received a request to reset the password for your account.
		</p>
		<p>
			To initiate the password reset process, please follow the steps outlined
			below:
		</p>
		<ol>
			<li>
				<p>Click on the following link to navigate to the password reset page:
					<a
						style='display:block; background: #14ba51; color: #ffffff; text-decoration: none; text-align: center; padding: 12px; border-radius: 5px; width: 50%; margin: 30px 0; text-transform: uppercase;'
						target='_blank'
						href='{{CLIENT_URL}}/auth/reset-password'
					>Password Reset Link</a></p>
			</li>
			<li>
				<p>Once on the password reset page, you'll be prompted to enter a new
					password for your account.</p>
			</li>
			<li>
				<p>After entering your new password, click on the "Reset Password"
					button to confirm the changes.</p>
			</li>
		</ol>
		<p>Please note:</p>
		<ul>
			<li>
				<p>If you did not initiate this password reset request, it's possible
					that someone else may have attempted to access your account. In such
					cases, we recommend ensuring the security of your account by resetting
					your password immediately.</p>
			</li>
			<li>
				<p>
					If you encounter any difficulties or have any questions during the
					password reset process, please don't hesitate to reach out to our
					support team for assistance. We're here to help you with any concerns
					you may have.
				</p>
			</li>
			<li>
				<p>This password reset link is valid for a limited time period. If you
					do not use it within this timeframe, you may need to request another
					password reset.</p>
			</li>
		</ul>
		<p>Thank you for your attention to this matter.</p>
		<p>Best regards, <span style='font-weight: 700'>GARAGE</span> Team</p>
	</div>
</div>